<!-- <router-outlet></router-outlet> -->

<!-- <bl-NavBar></bl-NavBar> -->
<!-- <bl-titleAndDescWidget data="about"></bl-titleAndDescWidget>
<bl-services serviceslist="getServiceslist()"></bl-services>
<bl-titleAndDescWidget data="whyBlueLine"></bl-titleAndDescWidget>
<bl-our-clients></bl-our-clients>
<bl-contact-us></bl-contact-us>  -->

<bl-navbar></bl-navbar>
<bl-title-and-desc-widget [mydata]="about">
</bl-title-and-desc-widget>
<bl-services-list></bl-services-list>
<bl-title-and-desc-widget [mydata]="whyBlueLine"></bl-title-and-desc-widget>
<bl-our-clients></bl-our-clients>
<bl-contact-us></bl-contact-us>
